div {
	border: 1px solid black;
	border-radius: 10px;
	width: 150px;
	height: 50px;
	margin-bottom: 10px;
	padding: 10px;
	font-weight: bold;
	color: white;
}

div:hover {
	border-radius: 0px;
}

#red {
	background-color: red;
}

#orange {
	background-color: orange;
	margin-left: 30px;
}

#yellow { 
    background-color: yellow;
    margin-left: 60px;
}

#green { 
    background-color: green;
    margin-left: 90px;
}

#blue {
    background-color: blue;
    margin-left: 120px;
}

#purple { 
    background-color: violet;
    margin-left: 150px;
}