body {
	background-color: #f9f9f9;
	text-align: center;
}

h1 {
	padding-bottom: 5px;
}

#leftField {
	width: 19rem;
}

#centerField {
	width:9rem;
}

#rightField {
	width: 19rem;
}

button {
	margin-top:15px;
}
