body {
	font-family: "Avenir Next";
	background-color: #f9f9f9;
}

h2 {
	padding-top: 11px;
	margin-top: 0px;
}

.day {
	padding-top: 20px; 
}

form {
	padding-top: 20px;
}

#map-canvas {
	margin-bottom: 10px;
}
